@model PractitionerReviewViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Your Unreviewed Practitioners";
}

<nav id="header-st" class="navbar navbar-expand static-top ">
    <div class="mr=auto">
        <a class="navbar-brand mx-0" href="#"><img class="ms-5 me-0" src="~/img/logo2.png" alt="Company Logo" width="70" height="60"></a>
        <h3 id="company-title">MediLink</h3>
    </div>
    <div class="ml-auto mt-4">
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 h6 text-white" href="@Url.Action("PatientHomePage", "Patient")">Home</a>
                </li>

                <li class="nav-item dropdown no-arrow ">
                    <a class="nav-link dropdown-toggle h6 text-white" href="#" id="reportsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 mx-2 d-none d-lg-inline text-white ">@ViewData["userName"]</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword", "Patients")">
                            <i class="bi bi-people text-gray-400"></i>
                            Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Management")">
                            <i class="bi bi-box-arrow-in-left text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">

    <div class="card">
        <div class="card-header">

            <i class="fas fa-users me-1"></i> Your Unreviewed Practitioners
            <div class="d-inline text-end">
                <a class="close" href="@Url.Action("PatientHomePage","Patient")"><span aria-hidden="true">&times;</span></a>

            </div>

            <div class="card-body">
                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-success" role="alertdialog">
                        <span>@ViewBag.Success</span>
                    </div>
                }
                <div>
                    <h4>Current Practitioners</h4>
                    @if (Model.currentPractitioners.Count > 0)
                    {
                        <table class="table mx-auto">
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            @foreach (var prac in Model.currentPractitioners)
                            {
                                <tr>
                                    <td>@prac.Practitioner.FirstName, @prac.Practitioner.LastName</td>
                                    <td><button type='button' class='btn btn-link' data-toggle="modal" data-target="#addReview_@prac.PractitionerId" data-id="@prac.PractitionerId">Add Review</button></td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p>No Unreviewd Current Practitioners</p>
                    }
                </div>

                <div>
                    <h4>Past Practitioners</h4>
                    @if (Model.pastPractitioners.Count > 0)
                    {
                        <table class="table mx-auto">
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            @foreach (var prac in Model.pastPractitioners)
                            {
                                <tr>
                                    <td>@prac.Practitioner.FirstName, @prac.Practitioner.LastName</td>
                                    <td><button type='button' class='btn btn-link' data-toggle="modal" data-target="#addReview_@prac.PractitionerId" data-id="@prac.PractitionerId">Add Review</button></td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p>No Unreviewed Past Practitioners</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@foreach(var prac in Model.currentPractitioners)
{
   <div class="modal fade" id="addReview_@prac.PractitionerId" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <div class="container">
                    <div class="d-inline text-end">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <h4 id="tiltle-search-pract" class="text-center text-black mt-5">Add Review for @prac.Practitioner.FirstName @prac.Practitioner.LastName</h4>
                    <p class="text-center">Please make sure you select whether your practitioner was on time. It will always be saved.</p>

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-3">
                            <div id="div-current-prac-review-error-messages" class="alert alert-danger" role="alert">

                            </div>

                            <form id="frm-add-current-prac-review" asp-controller="Review" asp-action="AddReview" method="post">
                                <div>
                                    <div class="form-group">
                                        <label for="preferencesCity" class="control-label">Review: </label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input type="text" class="form-control" asp-for="review.Review" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label">Rating: </label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <select asp-for="review.Rating" id="currentPracRating">
                                                        <option disabled value="0">Please choose a rating</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-check-label">Was the practitioner on time?</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <input type="checkbox" asp-for="review.IsPractitionerOnTime" class="form-check" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" asp-for="review.PractitionerId" value="@prac.PractitionerId" />

                                <div class="d-block text-center">
                                    <button type="button" class="btn btn-primary px-5" onclick="currentPracReviewValidation()">Save</button>
                                </div>
                            </form>
                            
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div> 
   }

@foreach (var prac in Model.pastPractitioners)
{
    <div class="modal fade" id="addReview_@prac.PractitionerId" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <div class="container">
                    <div class="d-inline text-end">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <h4 id="tiltle-search-pract" class="text-center text-black mt-5">Add Review for @prac.Practitioner.FirstName @prac.Practitioner.LastName</h4>
                    <p class="text-center">Please make sure you select whether your practitioner was on time. It will always be saved.</p>

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-3">
                            <div id="div-past-prac-review-error-messages" class="alert alert-danger" role="alert">

                            </div>

                            <form id="frm-add-past-prac-review" asp-controller="Review" asp-action="AddReview" method="post">
                                <div>
                                    <div class="form-group">
                                        <label for="preferencesCity" class="control-label">Review: </label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input typetext class="form-control" asp-for="review.Review" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label">Rating: </label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <select asp-for="review.Rating" id="pastPracRating">
                                                        <option disabled value="0">Please choose a rating</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-check-label">Was the practitioner on time?</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <input type="checkbox" asp-for="review.IsPractitionerOnTime" class="form-check" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" asp-for="review.PractitionerId" value="@prac.PractitionerId" />

                                <div class="d-block text-center">
                                    <button type="button" class="btn btn-primary px-5" onclick="pastPracReviewValidation()">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
}
