@model PractitionerViewModel
@{
    ViewData["Title"] = "Patient Home Page";
}
<nav id="header-st" class="navbar navbar-expand static-top ">
    <div class="mr=auto">
        <a class="navbar-brand mx-0" href="#"><img class="ms-5 me-0" src="~/img/logo2.png" alt="Company Logo" width="70" height="60"></a>
        <h3 id="company-title">MediLink</h3>
    </div>
    <div class="ml-auto mt-4">
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 h6 text-white" href="@Url.Action("PractitionerHomePage", "Practitioner")">Home</a>
                </li>
                <li class="nav-item dropdown no-arrow ">
                    <a class="nav-link dropdown-toggle h6 text-white" href="#" id="reportsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 mx-2 d-none d-lg-inline text-white ">@ViewData["userName"]</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword", "Practitioner")">
                            <i class="bi bi-people text-gray-400"></i>
                            Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Management")">
                            <i class="bi bi-box-arrow-in-left text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body class="background">
    <div class="container-fluid background">
        <div class="row">
            <div class="col-sm-4 d-flex align-items-center justify-content-center">
                <div class="btn-group-vertical-center">
                    <h3 class="mb-4 mt-2">Menu</h3>
                  
                    <button id="btnPatientaApproved" type='button' class='btn btn-blue btn-block btn-half-width mb-3' data-parameter="approve" data-toggle='modal'>View Your Current Patients</button>
                    <button id="btnPatientRequests2" type='button' class='btn btn-blue btn-block btn-half-width mb-3 btnPatientRequests' data-parameter="pending" data-toggle='modal'>View Your Pending New Patient Requests</button>
                    <button id="btnPatientWaitList" type='button' class='btn btn-blue btn-block btn-half-width mb-3 btnPatientRequests' data-parameter="waitlist" data-toggle='modal'>View Your WaitList</button>
                    
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("UpdatePractitionerDetails","Practitioner")">Edit Your Profile</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("UpdatePractitionerAddress","Practitioner")">Add / Edit Your Office Address(s)</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("ViewReviews","Practitioner")">View Your Reviews</a>
                </div>
            </div>
            <div class="col-sm-4 center-content">

                <div class="profile-info mt-2">
                    @if (ViewData["messageUpdatePract"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <p id="message-home-pract">@ViewData["messageUpdatePract"]</p>
                        </div>
                    }
                    <h2 class="mb-4">Profile Information</h2>
                    <p><strong>Full Name:</strong> @Model.Practitioner.FirstName @Model.Practitioner.LastName</p>
                    <p><strong>Practitioner Type:</strong> @Model.Practitioner.PractitionerType.Name</p>
                    <p><strong>Email:</strong> @Model.Practitioner.Email</p>
                    <p><strong>Phone Number:</strong> @Model.Practitioner.PhoneNumber</p>
                    <p><strong>Gender:</strong> @Model.Practitioner.gender</p>
                    <p>
                        <strong>Spoken Languages:</strong>
                        @foreach (var language in Model.PractitionerSpokenLanguages)
                        {
                            <span>@language.Language.LanguageName</span>

                            @(language != Model.PractitionerSpokenLanguages.Last() ? ", " : "")
                        }
                    </p>
                    <p><strong>Patient Acceptance Status:</strong> @Model.IsAcceptingNewPatients</p>
                    <p><strong>Last Accepted A Patient On:</strong> @Model.LastAcceptedPatientDate</p>
                    <p><strong>Current Rating:</strong> @Model.Practitioner.rating</p>

                    <div class="text-center mt-3">

                        <button type='button' class='btn btn-warning mx-5 w-75 mt-2' data-toggle='modal' data-target='#editoffices'>Practitioner Office(s)</button>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-2">
            </div>
        </div>
    </div>

 <!-- Modal Edit Offices -->
    <div class="modal fade" id="editoffices" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="card">
                        <div class="card-header">

                            <i class="fas fa-users me-1"></i> List of Offices
                            <div class="d-inline text-end">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                            <div class="card-body">
                                @if (ViewData["messageUpdatePract"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <p id="message-home-pract2">@ViewData["messageUpdatePract"]</p>
                                    </div>
                                }
                                <div class="container my-1 position-relative">
                                    <div class="d-flex justify-content-center ">
                                        <div class="searchbar">
                                            <input id="filterInputOffice" class="search_input search_input_width" type="text" name="" onkeyup="searchOffice()" placeholder="Search a office name...">
                                            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end ">
                                        <div >

                                            <button id="btn-add-address" type='button' class='btn btn-primary' data-toggle='modal' data-target='#addoffices'>ADD</button>

                                        </div>
                                    </div>
                                </div>


                                <table id="data-table-offices" class="table mx-auto" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Office Name</th>
                                            <th>Type</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var office in Model.OfficeAddresses)
                                        {
                                            <tr class='mx-2' id="offic-tr-@office.Id">
                                                <td id="office-name-@office.Id">@office.OfficeName</td>
                                                <td>@office.OfficeType.OfficeTypeName</td>
                                                <td> @office.StreetAddress @office.City @office.PostalCode  @office.Province</td>

                                                <td>
                                                    <button id="exit-offic-@office.Id" type='button' data-parameter="@office.Id" class='btn btn-danger mr-1 w-75 btnRemoveAddress'>Remove</button>

                                                </td>

                                            </tr>

                                        }


                                    </tbody>
                                </table>
                                <div class="d-block text-center">

                                   

                                    <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </div>


                    </div>




                </div>

            </div>
        </div>
    </div>


    <!-- Modal Add Offices -->
    <div class="modal fade" id="addoffices" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="card">
                        <div class="card-header">

                            <i class="fas fa-users me-1"></i> Add new Office(s)
                            <div class="d-inline text-end">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                            <div class="card-body">

                                <div class="container my-1">
                                    <div class="d-flex justify-content-center ">
                                        <div class="searchbar">
                                            <input id="filterInputOffice" class="search_input search_input_width" type="text" name="" onkeyup="searchOffice()" placeholder="Search a office name...">
                                            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                                               


                                <table id="data-table-add-offices" class="table mx-auto" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Office Name</th>
                                            <th>Type</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                      


                                    </tbody>
                                </table>
                                <div class="d-block text-center">

                                    <form class="d-inline" action="@Url.Action("SavePractitionerAddress","Practitioner")" method="post">
                                        <!--input to store the offide ids selected-->
                                        <input type="hidden" id="list-id-offices" name="listOffices" />

                                        <button id="btn-save-address" type="submit" class="btn btn-success mx-2">
                                            Save
                                        </button>

                                    </form>
                                   

                                    <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </div>


                    </div>




                </div>

            </div>
        </div>
    </div>


    <!-- Modal Patient Requests -->
    <div class="modal fade" id="patientrequests" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="card">
                        <div class="card-header">

                            <i class="fas fa-users me-1"></i> List of Patient Requests
                            <div class="d-inline text-end">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                            <div class="card-body">

                                <div class="container my-1">
                                    <div class="d-flex justify-content-center ">
                                       
                                    </div>
                                </div>


                                <table id="data-table-patient-requests" class="table mx-auto" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Patient Fullname</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Address</th>
                                            <th>Office Name</th>
                                            <th>Date Request</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      

                                    </tbody>
                                </table>
                                <div class="d-block text-center">

                                    <form id="update-req-patient" class="d-inline" action="@Url.Action("SaveRequestPatient","Practitioner")" method="post">
                                        <!--inputs to store the ids selected-->
                                                                              
                                        <input type="hidden" id="status-pat-req" name="status-pat-req" />

                                        <button id="btn-save-request-pat" type="button" class="btn btn-success mx-2" onclick="updatePatientNewRequest()">
                                            Save
                                        </button>

                                    </form>

                                    <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </div>


                    </div>




                </div>

            </div>
        </div>
    </div>

    <!-- Modal Patient Requests Approved-->
    <div class="modal fade" id="patientrequestsapproved" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="card">
                        <div class="card-header">

                            <i class="fas fa-users me-1"></i> List of Patients
                            <div class="d-inline text-end">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                            <div class="card-body">

                                <div class="container my-1">
                                    <div class="d-flex justify-content-center ">
                                    </div>
                                </div>


                                <table id="data-table-patient-approved" class="table mx-auto" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Patient Fullname</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Address</th>
                                            <th>Office Name</th>
                                            <th>Date Request</th>
                                            <th>Date Approved</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="d-block text-center">
                                   
                                    <form id="update-req-patient-remove" class="d-inline" action="@Url.Action("SaveRequestPatient","Practitioner")" method="post">
                                        <!--inputs to store the ids selected-->

                                        <input type="hidden" id="status-pat-req-remove" name="status-pat-req" />

                                     
                                    </form>

                                    <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </div>


                    </div>




                </div>

            </div>
        </div>
    </div>

    <!-- Modal Confirm Remove Patient-->
    <div class="modal fade" id="confirmdelete" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please confirm the deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>The patient will be permanently removed.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                        Close
                    </button>
                     
                    <button id="btn-delete-patient" type="button" class="btn btn-danger" onclick='removePatientToPractitioner(id)'>Delete</button>
                </div>
            </div>
        </div>
    </div>

</body>
