@model WalkInClinicHoursInfo
@{
    ViewData["Title"] = "View Walk In Clinic Hours";
}
<nav id="header-st" class="navbar navbar-expand static-top ">
    <div class="mr=auto">
        <a class="navbar-brand mx-0" href="#"><img class="ms-5 me-0" src="~/img/logo2.png" alt="Company Logo" width="70" height="60"></a>
        <h3 id="company-title">MediLink</h3>
    </div>
    <div class="ml-auto mt-4">
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item dropdown no-arrow ">
                    <a class="nav-link dropdown-toggle h6 text-white" href="#" id="reportsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 mx-2 d-none d-lg-inline text-white ">@ViewData["userName"]</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword", "Patients")">
                            <i class="bi bi-people text-gray-400"></i>
                            Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Management")">
                            <i class="bi bi-box-arrow-in-left text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Walk-In Clinic Hours</h2>
            <div class="card-body">
                <div class="profile-info">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <div class="profile-info text-center">
                                <p><strong>Monday:</strong> @Model.MondayHours</p>
                                <p><strong>Tuesday:</strong> @Model.TuesdayHours</p>
                                <p><strong>Wednesday:</strong> @Model.WednesdayHours</p>
                                <p><strong>Thursday:</strong> @Model.ThursdayHours</p>
                                <p><strong>Friday:</strong> @Model.FridayHours</p>
                                <p><strong>Saturday:</strong> @Model.SaturdayHours</p>
                                <p><strong>Sunday:</strong> @Model.SundayHours</p>
                            </div>
                            <div class="d-block text-center mt-2">
                                <a class="btn btn-secondary tex" href="@Url.Action("PatientHomePage","Patient")">Back To Home</a>

                            </div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
