@model WalkClinicViewModel
@{
    ViewData["Title"] = "Patient Home Page";
}
<nav id="header-st" class="navbar navbar-expand static-top ">
    <div class="mr=auto">
        <a class="navbar-brand mx-0" href="#"><img class="ms-5 me-0" src="~/img/logo2.png" alt="Company Logo" width="70" height="60"></a>
        <h3 id="company-title">MediLink</h3>
    </div>
    <div class="ml-auto mt-4">
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 h6 text-white" href="@Url.Action("PatientHomePage", "Patient")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 h6 text-white" href="@Url.Action("Search", "Search")">Search</a>
                </li>
                <li class="nav-item dropdown no-arrow ">
                    <a class="nav-link dropdown-toggle h6 text-white" href="#" id="reportsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 mx-2 d-none d-lg-inline text-white ">@ViewData["userName"]</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <a class="dropdown-item mx-0" href='/Patients/Update/@ViewData["userconnectedid"]'>
                            <i class="bi bi-person text-gray-400 mx-0" style="font-size: 15px"></i>
                            Profile
                        </a>
                        <a class="dropdown-item mx-0" href="@Url.Action("Preferences", "Patient")">
                            <i class="bi bi-person-gear text-gray-400 mx-0" style="font-size: 15px"></i>
                            Preferences
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword", "Patients")">
                            <i class="bi bi-people text-gray-400"></i>
                            Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Management")">
                            <i class="bi bi-box-arrow-in-left text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body class="background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 d-flex align-items-center justify-content-center">
                <div class="btn-group-vertical-center">
                    <h3 class="mb-4 mt-2">Menu</h3>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("UpdateWalkInClinicDetails","WalkInClinic")">Edit Profile</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("CheckPatientIn","WalkInClinic")">Check A Patient In</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("CheckPatientOut","WalkInClinic")">Check A Patient Out</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("UpdatePractitionerDetails","WalkInClinic")">Update Operating Hours</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("UpdatePractitionerAddress","WalkInClinic")">View Historical Wait Times</a>
                </div>
            </div>
            <div class="col-sm-4 center-content">
                <div class="profile-info mt-2">
                    <h2>Profile Information</h2>
                    <p><strong>Name Of Practice:</strong> @Model.OfficeAddress.OfficeName</p>
                    <p><strong>Type Of Office:</strong> @Model.OfficeAddress.OfficeType</p>
                    <p><strong>Current WaitTime:</strong> @Model.WalkInClinic.CurrentWaitTime</p>
                    <p><strong>Email:</strong> @Model.WalkInClinic.Email</p>
                    <p><strong>Phone Number:</strong> @Model.WalkInClinic.PhoneNumber</p>
                    <p><strong>Notes About The Clinic:</strong> @Model.WalkInClinic.ClinicNotes</p>
                    <p>
                        <strong>Spoken Languages:</strong>
                            @foreach (var language in Model.WalkInPractitionerSpokenLanguages)
                        {
                            <span>@language.Language.LanguageName</span>

                            @(language != Model.WalkInPractitionerSpokenLanguages.Last() ? ", " : "")
                        }
                    </p>
                    <p><strong>Address:</strong> @Model.OfficeAddress.StreetAddress@Model.OfficeAddress.City</p>
                    <p><strong>Unit Number:</strong> @Model.OfficeAddress.zone</p>
                    <p><strong>Postal:</strong> @Model.OfficeAddress.PostalCode</p>
                    <p><strong>Provice: @Model.OfficeAddress.Province</strong></p>
                    <p><strong>Contry: @Model.OfficeAddress.country</strong></p>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</body>
