@{
    Layout = null;
}
@model MediLink.Models.PractitionerNewRequest

<!DOCTYPE html>

<html>
<head>
    <title>Register Patient</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">  <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/MediLink.styles.css" asp-append-version="true" />
</head>
<body class="bg-gradient-login">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-login-image-doctor" title="Register Practitioner"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            @if (ViewBag.MyErrorList != null)
                            {

                                <div class="alert alert-danger" role="alert">
                                    @foreach (var item in ViewBag.MyErrorList)
                                    {
                                        <span>@item</span>
                                    }
                                </div>
                            }
                            else if (ViewBag.practitionerRegSuccess != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    <span>@ViewBag.practitionerRegSuccess</span>
                                </div>
                            }
                            <form class="user" action="@Url.Action("RegisterPractitioner","Management")" method="post">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">First Name</label>
                                                <div class="inputGroupContainer">
                                                    <input type="hidden" id="list-id-offices" name="listOffices" />
                                                    <input type="hidden" id="list-id-languages" name="listLanguages" />
                                                    <div class="input-group"><input id="firstName" name="FirstName" placeholder="First Name" class="form-control" value="@Model.FirstName" type="text"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">Last Name</label>
                                                <div class="inputGroupContainer">
                                                    <div class="input-group"><input id="lastname" name="LastName" placeholder="Last Name" class="form-control" value="@Model.LastName" type="text"></div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <div class="inputGroupContainer">
                                                    <div class="input-group"><input id="email" name="Email" placeholder="your@email.com" class="form-control" value="@Model.Email" type="text"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">Gender</label>
                                                <div class="inputGroupContainer">
                                                    <div class="input-group">
                                                        <select name="gender" class="selectpicker form-control" aria-label="Default select " asp-for="@Model.gender">
                                                            <option selected disabled value="noselected" )>Select a genre</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Male">Male</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">Password</label>
                                                <div class="inputGroupContainer">
                                                    <div class="input-group"><input id="password" name="Password" placeholder="Password" class="form-control" value="" type="password"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">Confirm Password</label>
                                                <div class="inputGroupContainer">
                                                    <div class="input-group"><input id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" class="form-control" value="" type="password"></div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">Phone Number</label>
                                                <div class="inputGroupContainer">
                                                    <div class="input-group"><input id="phone" name="PhoneNumber" placeholder="xxx-xxx-xxxx" class="form-control" value="@Model.PhoneNumber" type="text"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">Type</label>
                                                <div class="inputGroupContainer">
                                                    <div class="input-group">
                                                        <select name="PractitionerTypesId" class="form-control" asp-for="@Model.PractitionerTypesId">
                                                            <option value="0" disable selected>Select a type</option>
                                                            @foreach (var c in Model.practitionerTypes)
                                                            {
                                                                <option value="@c.Id">@c.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="text-center">

                                        <button type='button' class='btn btn-warning mx-5 w-75 mt-2' data-toggle='modal' data-target='#editoffices'>Select Office(s)</button>

                                    </div>

                                    <div class="text-center">

                                        <button type='button' class='btn btn-secondary mx-5 w-75 mt-2' data-toggle='modal' data-target='#editlanguages'>Select Language(s)</button>

                                    </div>






                                </fieldset>


                                <div class="text-center my-5">
                                    <a class="btn-user btn-block" href="@Url.Action("Index", "Home")">Return</a>
                                    <button type="submit" class="btn btn-primary px-5 w-100">Register</button>
                                </div>



                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("LoginPractitioner", "Management")">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <!-- Modal Edit Offices -->
    <div class="modal fade" id="editoffices" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="card">
                        <div class="card-header">

                            <i class="fas fa-users me-1"></i> List of Offices
                            <div class="d-inline text-end">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                            <div class="card-body">

                                <div class="container my-1">
                                    <div class="d-flex justify-content-center ">
                                        <div class="searchbar">
                                            <input id="filterInputOffice" class="search_input search_input_width" type="text" name="" onkeyup="searchOffice()" placeholder="Search a office name...">
                                            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>


                                <table id="data-table-offices" class="table mx-auto" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Office Name</th>
                                            <th>Type</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var c in Model.officeInfo)
                                        {
                                            <tr class='mx-2'>
                                                <td id="office-1">@c.OfficeName</td>
                                                <td>@c.OfficeTypeName</td>
                                                <td>@c.fullAddress</td>

                                                <td>
                                                    <button id="offic-@c.Id" type='button' class='btn btn-primary mr-1 w-75' onclick="addOfficePractitioner(this)">Add</button>

                                                </td>

                                            </tr>

                                        }


                                    </tbody>
                                </table>
                                <div class="d-block text-center">
                                    <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </div>


                    </div>




                </div>

            </div>
        </div>
    </div>

    <!-- Modal Edit languages -->
    <div class="modal fade" id="editlanguages" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
        <div class="modal-dialog modal-l modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="card">
                        <div class="card-header">

                            <i class="fas fa-users me-1"></i> List of Languages
                            <div class="d-inline text-end">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                            <div class="card-body">

                                <div class="container my-1">
                                    <div class="d-flex justify-content-center ">
                                        <div class="searchbar">
                                            <input id="filterInputLang" class="search_input search_input_width" type="text" name="" onkeyup="searchLanguage()" placeholder="Search a language name...">
                                            
                                        </div>
                                    </div>
                                </div>


                                <table id="data-table-languages" class="table mx-auto" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Language</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var c in Model.languagesInfo)
                                        {
                                            <tr class='mx-2'>
                                                <td id="langua-1">@c.LanguageName</td>
                                              
                                                <td>
                                                    <button id="lang-@c.Id" type='button' class='btn btn-primary mr-1 w-75' onclick="addLangPractitioner(this)">Add</button>

                                                </td>

                                            </tr>

                                        }


                                    </tbody>
                                </table>
                                <div class="d-block text-center">
                                    <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </div>


                    </div>




                </div>

            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>



