@model PatientViewModel
@{
    ViewData["Title"] = "Patient Home Page";
}
<nav id="header-st" class="navbar navbar-expand static-top ">
    <div class="mr=auto">
        <a class="navbar-brand mx-0" href="#"><img class="ms-5 me-0" src="~/img/logo2.png" alt="Company Logo" width="70" height="60"></a>
        <h3 id="company-title">MediLink</h3>
    </div>
    <div class="ml-auto mt-4">
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item dropdown no-arrow ">
                    <a class="nav-link dropdown-toggle h6 text-white" href="#" id="reportsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 mx-2 d-none d-lg-inline text-white ">@ViewData["userName"]</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword", "Patients")">
                            <i class="bi bi-people text-gray-400"></i>
                            Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Management")">
                            <i class="bi bi-box-arrow-in-left text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body class="background">
    <div class="container-fluid">
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success" role="alertdialog">
                <span>ViewBag.Success</span>
            </div>
        }
        <div class="row">
            <div class="col-sm-4 d-flex align-items-center justify-content-center">
                <div class="btn-group-vertical-center">
                    <h3 class="mb-4 mt-2">Menu</h3>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("SearchPractitioner","Patient")">Search For a Practitioner</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("SearchWalkClinic","Search")">Search For a Walk-in Clinic</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("ViewRequestDetails","Patient")">View Your Wait List / New Patient Request Status</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("ViewCurrentPractitioners","Patient")">View Your Current Practitioners</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("Preferences","Patient")">View / Update Your Preferences</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("UpdatePatientDetails","Patient")">Edit Your Profile</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("ReviewPractitioner","Patient")">Review Your Current / Past Practitioners</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("UpdateReview","Patient")">View / Update Your Reviews</a>
                </div>
            </div>
            <div class="col-sm-4 center-content">
                <div class="profile-info mt-2">
                    <h2 class="mb-4">Profile Information</h2>
                    <p><strong>Full Name:</strong> @Model.PatientDetail.FirstName @Model.PatientDetail.LastName</p>
                    <p><strong>Email:</strong> @Model.Email</p>
                    <p><strong>Phone Number:</strong> @Model.PatientDetail.PhoneNumber</p>
                    <p><strong>Gender:</strong> @Model.PatientDetail.gender</p>
                    <p>
                        <strong>Spoken Languages:</strong>
                        @foreach (var language in Model.SpokenLanguages)
                        {
                            <span>@language.Language.LanguageName</span>

                            @(language != Model.SpokenLanguages.Last() ? ", " : "")
                        }
                    </p>
                    @if (Model.PatientDetail.DoB != null)
                    {
                        <p><strong>Date Of Birth:</strong> @Model.PatientDetail.DoB.ToString().Substring(0, 11)</p>
                    }
                    else
                    {
                        <p><strong>Date Of Birth:</strong></p>
                    }
                    <p><strong>Address:</strong> @Model.PatientAddress.StreetAddress @Model.PatientAddress.City</p>
                    <p><strong>Postal Code:</strong> @Model.PatientAddress.PostalCode</p>
                    <p><strong>Province Of Residence:</strong> @Model.PatientAddress.Province</p>
                    <p><strong>Country Of Residence:</strong> @Model.PatientAddress.country</p>

                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</body>
