@model PatientViewModel
@{
    ViewData["Title"] = "Patient Home Page";
}
<nav id="header-st" class="navbar navbar-expand static-top ">
    <div class="mr=auto">
        <a class="navbar-brand mx-0" href="#"><img class="ms-5 me-0" src="~/img/logo2.png" alt="Company Logo" width="70" height="60"></a>
        <h3 id="company-title">MediLink</h3>
    </div>
    <div class="ml-auto mt-4">
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item dropdown no-arrow ">
                    <a class="nav-link dropdown-toggle h6 text-white" href="#" id="reportsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 mx-2 d-none d-lg-inline text-white ">@ViewData["userName"]</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword", "Patients")">
                            <i class="bi bi-people text-gray-400"></i>
                            Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Management")">
                            <i class="bi bi-box-arrow-in-left text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body class="background">
    <div class="container-fluid">
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success" role="alertdialog">
                <span>@ViewBag.Success</span>
            </div>
        }
        <div class="row">
            <div class="col-sm-4 d-flex align-items-center justify-content-center">
                <div class="btn-group-vertical-center">
                    <h3 class="mb-4 mt-2">Menu</h3>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("SearchPractitioner","Search")">Search For a Practitioner</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("SearchWalkClinic","Search")">Search For a Walk-in Clinic</a>
                    <button id="btnPatientWaitListRequest" type='button' class='btn btn-blue btn-block btn-half-width mb-3' data-parameter="waitlist" data-toggle='modal'>View Your Wait List / New Patient Request Status</button>
                    <button id="btnPatientApproved" type='button' class='btn btn-blue btn-block btn-half-width mb-3' data-parameter="approve" data-toggle='modal'>View Your Current Practitioners</button>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("ViewCurrentPractitioners","Patient")">View Your Current Practitioners</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" data-toggle='modal' data-target='#preferences'>View / Update Your Preferences</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("UpdatePatientDetails","Patient")">Edit Your Profile</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("UnreviewedPractitioners","Review")">Review Your Current / Past Practitioners</a>
                    <a class="btn btn-blue btn-block btn-half-width mb-3" href="@Url.Action("ReviewedPractitioners","Review")">View / Update Your Reviews</a>
                </div>
            </div>
            <div class="col-sm-4 center-content">
                <div class="profile-info mt-2">
                    <h2 class="mb-4">Profile Information</h2>
                    <p><strong>Full Name:</strong> @Model.PatientDetail.FirstName @Model.PatientDetail.LastName</p>
                    <p><strong>Email:</strong> @Model.Email</p>
                    <p><strong>Phone Number:</strong> @Model.PatientDetail.PhoneNumber</p>
                    <p><strong>Gender:</strong> @Model.PatientDetail.gender</p>
                    <p>
                        <strong>Spoken Languages:</strong>
                        @foreach (var language in Model.SpokenLanguages)
                        {
                            <span>@language.Language.LanguageName</span>

                            @(language != Model.SpokenLanguages.Last() ? ", " : "")
                        }
                    </p>
                    @if (Model.PatientDetail.DoB != null)
                    {
                        <p><strong>Date Of Birth:</strong> @Model.PatientDetail.DoB.ToString().Substring(0, 11)</p>
                    }
                    else
                    {
                        <p><strong>Date Of Birth:</strong></p>
                    }
                    <p><strong>Address:</strong> @Model.PatientAddress.StreetAddress @Model.PatientAddress.City</p>
                    <p><strong>Postal Code:</strong> @Model.PatientAddress.PostalCode</p>
                    <p><strong>Province Of Residence:</strong> @Model.PatientAddress.Province</p>
                    <p><strong>Country Of Residence:</strong> @Model.PatientAddress.country</p>

                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>

    <!-- Modal Edit Offices -->
    <div class="modal fade" id="preferences" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="card">
                        <div class="card-header">

                            <i class="fas fa-users me-1"></i> Preferences
                            <div class="d-inline text-end">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                            <div class="card-body">

                                <form asp-controller="Patient" asp-action="Preferences" method="post" align="center">
                                    <div class="row text-center">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="preferencesCity" class="control-label">City: </label>
                                                <div class="inputGroupContainer">
                                                    <div class="input-group">
                                                        <input type="text" id="preferencesCity" class="form-control" asp-for="Preferences.preferences.location" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">Rating: </label>
                                                <div class="inputGroupContainer">
                                                    <div class="input-group">
                                                        <select asp-for="Preferences.preferences.rating">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-center">
                                        <div class="col-6">
                                            <label asp-for="Preferences.selectedLanguageIds" class="col-auto form-label">Spoken Languages: </label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <select class="selectpicker form-control" aria-label="Default select " asp-for="Preferences.selectedLanguageIds" asp-items="Model.Preferences.languages" multiple>
                                                        <option selected disabled value="noselected" )>Select a Language</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label asp-for="Preferences.selectedOfficeTypeIds" class="col-auto form-label">Preferred Office Types: </label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <select class="selectpicker form-control" aria-label="Default select " asp-for="Preferences.selectedOfficeTypeIds" multiple>
                                                        <option selected disabled value="noselected" )>Select an Office Type</option>
                                                        @foreach (var officeType in Model.Preferences.officeTypes)
                                                        {
                                                            <option value="@officeType.Id">@officeType.OfficeTypeName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div hidden>
                                        <select asp-for="Preferences.previousLanguages" asp-items="Model.Preferences.languages"></select>
                                        <select asp-for="Preferences.previousOfficeTypes">
                                            @foreach (var officeType in Model.Preferences.officeTypes)
                                            {
                                                <option value="@officeType.Id">@officeType.OfficeTypeName</option>
                                            }
                                        </select>
                                    </div>

                                    <input type="hidden" asp-for="Preferences.preferences.Id" />
                                    <input type="hidden" asp-for="Preferences.previousCity" />
                                    <input type="hidden" asp-for="Preferences.previousRating" />
                                    <br />
                                    <div class="d-block text-center">
                                        <input type="submit" class="btn btn-primary px-5" value="Save" />
                                    </div>
                                    
                                </form>


                                <br />
                                <div class="d-block text-center">
                                    <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</body>


<!-- Modal Patient Requests WaitList-->
<div class="modal fade" id="patienthomerequests" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">

                <div class="card">
                    <div class="card-header">

                        <i class="fas fa-users me-1"></i> List of Requests on WaitList
                        <div class="d-inline text-end">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>

                        <div class="card-body">

                            <div class="container my-1">
                                <div class="d-flex justify-content-center ">
                                </div>
                            </div>


                            <table id="data-table-patient-home-requests" class="table mx-auto" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Practictioner Fullname</th>
                                        <th>Type</th>
                                        <th>Office Name</th>
                                        <th>Address</th>                                       
                                        <th>Date Request</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="d-block text-center">

                                <form id="update-patient-cancel-req" class="d-inline" action="@Url.Action("SaveRequestPatient","Practitioner")" method="post">
                                    <!--inputs to store the ids selected-->

                                    <input type="hidden" id="status-pat-req-remove" name="status-pat-req" />


                                </form>
                                <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                                    Close
                                </button>

                            </div>
                        </div>
                    </div>


                </div>




            </div>

        </div>
    </div>
</div>

<!-- Modal Patient Requests Approved-->
<div class="modal fade" id="patienthomerequestsapproved" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">

                <div class="card">
                    <div class="card-header">

                        <i class="fas fa-users me-1"></i> List of Requests on WaitList
                        <div class="d-inline text-end">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>

                        <div class="card-body">

                            <div class="container my-1">
                                <div class="d-flex justify-content-center ">
                                </div>
                            </div>


                            <table id="data-table-patient-home-approved" class="table mx-auto" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Practictioner Fullname</th>
                                        <th>Type</th>
                                        <th>Office Name</th>
                                        <th>Address</th>
                                        <th>Date Request</th>
                                        <th>Date Approved</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="d-block text-center">

                                <form id="update-patient-remove-req" class="d-inline" action="@Url.Action("SaveRequestPatient","Practitioner")" method="post">
                                    <!--inputs to store the ids selected-->

                                    <input type="hidden" id="status-pat-req-remove" name="status-pat-req" />


                                </form>
                                <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                                    Close
                                </button>

                            </div>
                        </div>
                    </div>


                </div>




            </div>

        </div>
    </div>
</div>


<!-- Modal Confirm Cancel Request-->
<div class="modal fade" id="confirmcancelrequest" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please confirm </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The Request will be canceled.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                    Close
                </button>

                <button id="btn-cancel-request" type="button" class="btn btn-danger" onclick='cancelPatientRequest(id)'>Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Practictioner details -->
<div class="modal fade" id="pract-details-patientpage" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <h4 id="pract-fullname" class="text-center text-black mt-5">Juan Quintana</h4>
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-3">
                            <div>
                                <div class="profile-info mt-2">
                                    <div class="row">
                                        <div class="col-4">
                                            <p><strong>Practitioner Type: </strong><span id="pract-type"></span>   </p>

                                        </div>
                                        <div class="col-4">
                                            <p><strong>Gender: </strong> <span id="gender-pract"></span></p>
                                        </div>
                                        <div class="col-4">
                                            <p class=""><strong>Phone Number: </strong> <span id="phone-pract"></span></p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p><strong>Patient Acceptance Status: </strong> <span id="patient-acep-pract"></span></p>
                                        </div>
                                        <div class="col-6">

                                            <p><strong>Last Accepted A Patient On: </strong> <span id="patient-last-pract"></span></p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p><strong>Spoken Languages: </strong><span id="pract-lang"></span>  </p>

                                        </div>
                                        <div class="col-6">
                                            <p><strong>Current Rating: </strong><span id="rating-pract"></span></p>

                                        </div>

                                    </div>








                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary tex" data-dismiss="modal" aria-label="Close">
                    Close
                </button>

             
            </div>
        </div>
    </div>
</div>
